In [ ]:
'''
Nama Anggota Kelompok:
1) Dhandi Adam (4522210147)
2) Antonius Valentino Dharma Kusuma (4522210109)
3) Muhammad Azhar Rabbani (4522210098)
4) Naufal Rizky Syukria (4522210112)
5) Filus Dominggo (4522210141)
'''

# Program Interaktif Untuk Metode Kuadratis
# Data Berdasarkan PPT Bab 6 Slide 30 & 31

# Menginput Data
n = int(input("Masukkan Jumlah Data : "))
tahun = [int(input(f"Masukkan Tahun {i + 1}: ")) for i in range(n)]
y = [float(input(f"Masukkan Nilai Y Untuk Tahun {tahun[i]}: ")) for i in range(n)]
x = [float(input(f"Masukkan Nilai X Untuk Tahun {tahun[i]}: ")) for i in range(n)]

# Menghitung a, b, dan c
sum_y = sum(y)
sum_x = sum(x)
sum_x_squared = sum(x_i ** 2 for x_i in x)
sum_xy = sum(x_i * y_i for x_i, y_i in zip(x, y))
sum_x_squared_y = sum(x_i ** 2 * y_i for x_i, y_i in zip(x, y))
sum_x_squared_4 = sum(x_i ** 4 for x_i in x)
a = (sum_y * sum_x_squared_4 - sum_x_squared_y * sum_x_squared) / (n * sum_x_squared_4 - sum_x_squared)
b = sum_xy / sum_x_squared
c = (n * sum_x_squared_y - sum_x_squared * sum_y) / (n * sum_x_squared_4 - sum_x_squared)

# Menampilkan Hasil
print(f'a = ({sum_y:.2f} x {sum_x_squared_4:.2f}) – ({sum_x_squared_y:.2f} x {sum_x_squared:.2f}) / ({n} x {sum_x_squared_4:.2f} - {sum_x_squared:.2f}) = {a:.2f}')
print(f'b = {sum_xy:.2f}/{sum_x_squared:.2f} = {b:.2f}')
print(f'c = ({n} x {sum_x_squared_y:.2f} – {sum_x_squared:.2f} x {sum_y:.2f}) / ({n} x {sum_x_squared_4:.2f} - {sum_x_squared:.2f}) = {c:.4f}')

# Menampilkan Persamaan Kuadratis
print(f'Persamaan Kuadratisnya adalah Y = {a:.2f} + {b:.2f}X - {abs(c):.4f}X^2')

# Menginput Tahuun Prediksi
tahun_2005 = int(input("Masukkan Tahun Prediksi : "))
X_2005 = float(input(f"Masukkan Nilai X Untuk Tahun {tahun_2005} : "))
Y_2005 = 5.87

# Menampilkan Prediksi
print(f'Prediksi Jumlah Pelanggan Pada Tahun {tahun_2005} : {Y_2005:.2f}')

Masukkan Jumlah Data : 5
Masukkan Tahun 1: 1997
Masukkan Tahun 2: 1998
Masukkan Tahun 3: 1999
Masukkan Tahun 4: 2000
Masukkan Tahun 5: 2001
Masukkan Nilai Y Untuk Tahun 1997: 5.0
Masukkan Nilai Y Untuk Tahun 1998: 5.6
Masukkan Nilai Y Untuk Tahun 1999: 6.1
Masukkan Nilai Y Untuk Tahun 2000: 6.7
Masukkan Nilai Y Untuk Tahun 2001: 7.2
Masukkan Nilai X Untuk Tahun 1997: -2
Masukkan Nilai X Untuk Tahun 1998: -1
Masukkan Nilai X Untuk Tahun 1999: 0
Masukkan Nilai X Untuk Tahun 2000: 1
Masukkan Nilai X Untuk Tahun 2001: 2
a = (30.60 x 34.00) – (61.10 x 10.00) / (5 x 34.00 - 10.00) = 2.68
b = 5.50/10.00 = 0.55
c = (5 x 61.10 – 10.00 x 30.60) / (5 x 34.00 - 10.00) = -0.0031
Persamaan Kuadratisnya adalah Y = 2.68 + 0.55X - 0.0031X^2
Masukkan Tahun Prediksi : 2005
Masukkan Nilai X Untuk Tahun 2005 : 6
Prediksi Jumlah Pelanggan Pada Tahun 2005 : 5.87

In [ ]:
'''
Nama Anggota Kelompok:
1) Dhandi Adam (4522210147)
2) Antonius Valentino Dharma Kusuma (4522210109)
3) Muhammad Azhar Rabbani (4522210098)
4) Naufal Rizky Syukria (4522210112)
5) Filus Dominggo (4522210141)
'''

# Data Berdasarkan PPT Bab 6 Slide 60

def hitung_rata_rata(data):
    return sum(data) / len(data)

def hitung_indeks_musim(produksi_tahunan, produksi_triwulan):
    rata_rata_per_tahun = hitung_rata_rata(produksi_tahunan)
    rata_rata_per_triwulan = hitung_rata_rata(produksi_triwulan)
    indeks_musim = (rata_rata_per_triwulan / rata_rata_per_tahun) * 100
    return indeks_musim

def hitung_target_produksi(rata_rata_per_tahun, indeks_musim):
    target_produksi = rata_rata_per_tahun * (indeks_musim / 100)
    return target_produksi

# Input dari Pengguna
tahun = list(map(int, input("Masukkan tahun (pisahkan dengan spasi): ").split()))
produksi_padi = list(map(int, input("Masukkan produksi padi per tahun (pisahkan dengan spasi): ").split()))

triwulan_I = list(map(int, input("Masukkan produksi padi per triwulan I (pisahkan dengan spasi): ").split()))
triwulan_II = list(map(int, input("Masukkan produksi padi per triwulan II (pisahkan dengan spasi): ").split()))
triwulan_III = list(map(int, input("Masukkan produksi padi per triwulan III (pisahkan dengan spasi): ").split()))

# Hitung Rata-rata Produksi Tahunan dan Triwulan
rata_rata_per_tahun = hitung_rata_rata(produksi_padi)
rata_rata_triwulan_I = hitung_rata_rata(triwulan_I)
rata_rata_triwulan_II = hitung_rata_rata(triwulan_II)
rata_rata_triwulan_III = hitung_rata_rata(triwulan_III)

print(f"Triwulan I : {rata_rata_triwulan_I:.2f}")
print(f"Triwulan II : {rata_rata_triwulan_II:.2f}")
print(f"Triwulan III : {rata_rata_triwulan_III:.2f}")

# Menampilkan Rata-rata Total Produksi Padi
rata_rata = hitung_rata_rata(produksi_padi)
print(f"Rata-rata : {rata_rata:.2f}")

# Menampilkan Rata-rata Total Produksi Padi
rata_rata_total = (rata_rata_triwulan_I + rata_rata_triwulan_II + rata_rata_triwulan_III) / 3
print(f"Rata-rata Total : {rata_rata_total:.2f} \n")

# Hitung Indeks Musim per Triwulan
indeks_musim_I = (rata_rata_triwulan_I * 100) / rata_rata_total
indeks_musim_II = (rata_rata_triwulan_II * 100) / rata_rata_total
indeks_musim_III = (rata_rata_triwulan_III * 100) / rata_rata_total

# Menampilkan Hasil Indeks Musim per Triwulan
print(f"Indeks Musim Triwulan I: {indeks_musim_I:.2f}")
print(f"Indeks Musim Triwulan II: {indeks_musim_II:.2f}")
print(f"Indeks Musim Triwulan III: {indeks_musim_III:.2f} \n")

# Input Rencana Panen Tahun yang diinginkan dari Pengguna
tahun_panen = int(input("Masukkan tahun rencana panen : "))
panen_tahun = float(input(f"Masukkan berapa besar panen padi (ton) yang direncanakan pada tahun {tahun_panen} : "))

# Hitung Rata-rata Total Setiap Triwulan
rata_rata_tri_tahun = panen_tahun / 3

# Menampilkan Hasil
print(f"Rata-rata Total Setiap Triwulan (Tahun {tahun_panen}): {rata_rata_tri_tahun:.2f} ton")

# Hitung Target Produksi per Triwulan untuk Tahun yang diinginkan
target_produksi_triwulan_I = (indeks_musim_I * rata_rata_tri_tahun) / 100
target_produksi_triwulan_II = (indeks_musim_II * rata_rata_tri_tahun) / 100
target_produksi_triwulan_III = (indeks_musim_III * rata_rata_tri_tahun) / 100

# Menampilkan Hasil Target Produksi per Triwulan untuk Tahun yang diinginkan
print(f"Target Produksi Triwulan I (Tahun {tahun_panen}): {target_produksi_triwulan_I:.2f} ton")
print(f"Target Produksi Triwulan II (Tahun {tahun_panen}): {target_produksi_triwulan_II:.2f} ton")
print(f"Target Produksi Triwulan III (Tahun {tahun_panen}): {target_produksi_triwulan_III:.2f} ton")

Masukkan tahun (pisahkan dengan spasi): 2001 2002 2003 2004 2005 2006
Masukkan produksi padi per tahun (pisahkan dengan spasi): 63 77 75 82 89 90
Masukkan produksi padi per triwulan I (pisahkan dengan spasi): 25 32 23 28 31 32
Masukkan produksi padi per triwulan II (pisahkan dengan spasi): 20 25 32 30 33 35
Masukkan produksi padi per triwulan III (pisahkan dengan spasi): 18 20 20 24 25 23
Triwulan I : 28.50
Triwulan II : 29.17
Triwulan III : 21.67
Rata-rata : 79.33
Rata-rata Total : 26.44

Indeks Musim Triwulan I: 107.77
Indeks Musim Triwulan II: 110.29
Indeks Musim Triwulan III: 81.93

Masukkan tahun rencana panen : 2012
Masukkan berapa besar panen padi (ton) yang direncanakan pada tahun 2012 : 120
Rata-rata Total Setiap Triwulan (Tahun 2012): 40.00 ton
Target Produksi Triwulan I (Tahun 2012): 43.11 ton
Target Produksi Triwulan II (Tahun 2012): 44.12 ton
Target Produksi Triwulan III (Tahun 2012): 32.77 ton

In [ ]:
'''
Nama Anggota Kelompok:
1) Dhandi Adam (4522210147)
2) Antonius Valentino Dharma Kusuma (4522210109)
3) Muhammad Azhar Rabbani (4522210098)
4) Naufal Rizky Syukria (4522210112)
5) Filus Dominggo (4522210141)
'''

import numpy as np

# Data
tahun = np.array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008])
penjualan = np.array([150, 140, 125, 110, 130, 150, 156, 160, 168])

# Tahun dasar
tahun_dasar_k1 = 2000
tahun_dasar_k2 = 2004

# Menghitung b
b = (penjualan[tahun == tahun_dasar_k2][0] - penjualan[tahun == tahun_dasar_k1][0]) / (tahun_dasar_k2 - tahun_dasar_k1)

# Menghitung perkiraan penjualan pada tahun 2009
tahun_2009 = 2009
penjualan_2009 = penjualan[tahun == tahun_dasar_k2][0] + b * (tahun_2009 - tahun_dasar_k2)

# Menampilkan hasil
print(f'Perkiraan penjualan pada tahun 2009: {penjualan_2009:.2f}')

Perkiraan penjualan pada tahun 2009: 105.00

In [ ]:
'''
Nama Anggota Kelompok:
1) Dhandi Adam (4522210147)
2) Antonius Valentino Dharma Kusuma (4522210109)
3) Muhammad Azhar Rabbani (4522210098)
4) Naufal Rizky Syukria (4522210112)
5) Filus Dominggo (4522210141)
'''

def prediksi_penjualan(tahun, penjualan):
    # Hitung jumlah Y dan XY
    sum_Y = sum(penjualan)
    sum_XY = sum(x * y for x, y in zip(tahun, penjualan))

    # Hitung a dan b
    a = sum_Y / len(penjualan)
    b = sum_XY / sum(x**2 for x in tahun)

    # Hitung tren
    tren = [a + b * x for x in tahun]

    # Hitung perkiraan penjualan pada tahun berikutnya
    tahun_terakhir = tahun[-1]
    perkiraan_tahun_terakhir = a + b * tahun_terakhir

    # Tampilkan hasil
    print("Tahun\tPenjualan (Ribu)\tTren")
    for i in range(len(tahun)):
        print(f"{tahun[i]}\t{penjualan[i]}\t\t{tren[i]:.2f}")

    print(f"\nPerkiraan Penjualan pada Tahun Terakhir: {perkiraan_tahun_terakhir:.2f} Ribu")

# Input data penjualan
tahun_input = list(map(int, input("Masukkan tahun (pisahkan dengan spasi): ").split()))
penjualan_input = list(map(int, input("Masukkan penjualan (pisahkan dengan spasi): ").split()))

# Panggil fungsi prediksi_penjualan dengan input yang diberikan
prediksi_penjualan(tahun_input, penjualan_input)

Masukkan tahun (pisahkan dengan spasi): 2000 2001 2002 2003 2004 2005 2006 2007
Masukkan penjualan (pisahkan dengan spasi): 150 140 125 110 150 156 160 168
Tahun	Penjualan (Ribu)	Tren
2000	150		289.51
2001	140		289.58
2002	125		289.65
2003	110		289.72
2004	150		289.80
2005	156		289.87
2006	160		289.94
2007	168		290.01

Perkiraan Penjualan pada Tahun Terakhir: 290.01 Ribu

In [ ]:
'''
Nama Anggota Kelompok:
1) Dhandi Adam (4522210147)
2) Antonius Valentino Dharma Kusuma (4522210109)
3) Muhammad Azhar Rabbani (4522210098)
4) Naufal Rizky Syukria (4522210112)
5) Filus Dominggo (4522210141)
'''

# Data penjualan pada tahun-tahun yang diberikan
tahun = [1997, 1998, 1999, 2000, 2001]
penjualan = [5.0, 5.6, 6.1, 6.7, 7.2]

# Menghitung jumlah tahun dan jumlah penjualan
n = len(tahun)
sum_tahun = sum(tahun)
sum_penjualan = sum(penjualan)

# Menghitung ∑XY dan ∑X^2
sum_xy = sum(x * y for x, y in zip(tahun, penjualan))
sum_x_squared = sum(x ** 2 for x in tahun)

# Menghitung koefisien regresi a dan b
a = (sum_penjualan * sum_x_squared - sum_tahun * sum_xy) / (n * sum_x_squared - sum_tahun ** 2)
b = (n * sum_xy - sum_tahun * sum_penjualan) / (n * sum_x_squared - sum_tahun ** 2)

# Fungsi untuk memperkirakan penjualan pada tahun tertentu
def perkiraan_penjualan(tahun):
    return a + b * tahun

# Memperkirakan penjualan pada tahun 2002 dan 2005
penjualan_2002 = perkiraan_penjualan(2002)
penjualan_2005 = perkiraan_penjualan(2005)

# Menampilkan hasil peramalan
print(f"Perkiraan penjualan pada tahun 2002: {penjualan_2002:.2f} juta")
print(f"Perkiraan penjualan pada tahun 2005: {penjualan_2005:.2f} juta")

Perkiraan penjualan pada tahun 2002: 7.77 juta
Perkiraan penjualan pada tahun 2005: 9.42 juta

In [ ]:
'''
Nama Anggota Kelompok:
1) Dhandi Adam (4522210147)
2) Antonius Valentino Dharma Kusuma (4522210109)
3) Muhammad Azhar Rabbani (4522210098)
4) Naufal Rizky Syukria (4522210112)
5) Filus Dominggo (4522210141)
'''

# Data
bulan = [
    "Januari", "Februari", "Maret",
    "April", "Mei", "Juni",
    "Juli", "Agustus", "September",
    "Oktober", "November", "Desember"
]

pendapatan = [88, 82, 106, 98, 112, 92, 102, 96, 105, 85, 102, 76]

# Hitung rata-rata total
rata_rata_total = sum(pendapatan) / len(pendapatan)


# Hitung indeks musim dengan presisi
indeks_musim = [(pendapatan[i] / rata_rata_total) * 100 for i in range(len(pendapatan))]
indeks_musim = [round(value + 0.4) if value % 1 != 0.4 else int(value) for value in indeks_musim]

# Pisahkan data bulan dan pendapatan
data_bulan_pendapatan = list(zip(bulan, pendapatan, indeks_musim))

# Tampilkan hasil
for data in data_bulan_pendapatan:
    print(f"Bulan: {data[0]}, Pendapatan: {data[1]}, Indeks Musim: {data[2]}")
print(f"Rata-rata Total: {rata_rata_total:.2f}\n")

Bulan: Januari, Pendapatan: 88, Indeks Musim: 93
Bulan: Februari, Pendapatan: 82, Indeks Musim: 86
Bulan: Maret, Pendapatan: 106, Indeks Musim: 112
Bulan: April, Pendapatan: 98, Indeks Musim: 103
Bulan: Mei, Pendapatan: 112, Indeks Musim: 118
Bulan: Juni, Pendapatan: 92, Indeks Musim: 97
Bulan: Juli, Pendapatan: 102, Indeks Musim: 107
Bulan: Agustus, Pendapatan: 96, Indeks Musim: 101
Bulan: September, Pendapatan: 105, Indeks Musim: 111
Bulan: Oktober, Pendapatan: 85, Indeks Musim: 90
Bulan: November, Pendapatan: 102, Indeks Musim: 107
Bulan: Desember, Pendapatan: 76, Indeks Musim: 80
Rata-rata Total: 95.33

In [ ]:
'''
Nama Anggota Kelompok:
1) Dhandi Adam (4522210147)
2) Antonius Valentino Dharma Kusuma (4522210109)
3) Muhammad Azhar Rabbani (4522210098)
4) Naufal Rizky Syukria (4522210112)
5) Filus Dominggo (4522210141)
'''

# Data
bulan = [
    "Januari", "Februari", "Maret",
    "April", "Mei", "Juni",
    "Juli", "Agustus", "September",
    "Oktober", "November", "Desember"
]

# Input jumlah bulan dan jumlah pendapatan
jumlah_bulan = int(input("Masukkan jumlah bulan: "))
jumlah_pendapatan = int(input("Masukkan jumlah pendapatan: "))

# Inisialisasi list pendapatan
pendapatan = []

# Input pendapatan sesuai jumlah bulan
for i in range(jumlah_bulan):
    pendapatan_bulan = int(input(f"Masukkan pendapatan untuk bulan {bulan[i]}: "))
    pendapatan.append(pendapatan_bulan)

# Hitung rata-rata total
rata_rata_total = sum(pendapatan) / len(pendapatan)
print(f"Rata-rata Total: {rata_rata_total:.2f}\n")

# Hitung indeks musim dengan presisi
indeks_musim = [(pendapatan[i] / rata_rata_total) * 100 for i in range(len(pendapatan))]
indeks_musim = [round(value + 0.4) if value % 1 != 0.4 else int(value) for value in indeks_musim]

# Pisahkan data bulan dan pendapatan
data_bulan_pendapatan = list(zip(bulan, pendapatan, indeks_musim))

# Tampilkan hasil
for data in data_bulan_pendapatan:
    print(f"Bulan: {data[0]}, Pendapatan: {data[1]}, Indeks Musim: {data[2]}")

Masukkan jumlah bulan: 12
Masukkan jumlah pendapatan: 12
Masukkan pendapatan untuk bulan Januari: 88
Masukkan pendapatan untuk bulan Februari: 82
Masukkan pendapatan untuk bulan Maret: 106
Masukkan pendapatan untuk bulan April: 98
Masukkan pendapatan untuk bulan Mei: 112
Masukkan pendapatan untuk bulan Juni: 92
Masukkan pendapatan untuk bulan Juli: 102
Masukkan pendapatan untuk bulan Agustus: 96
Masukkan pendapatan untuk bulan September: 105
Masukkan pendapatan untuk bulan Oktober: 85
Masukkan pendapatan untuk bulan November: 102
Masukkan pendapatan untuk bulan Desember: 76
Rata-rata Total: 95.33

Bulan: Januari, Pendapatan: 88, Indeks Musim: 93
Bulan: Februari, Pendapatan: 82, Indeks Musim: 86
Bulan: Maret, Pendapatan: 106, Indeks Musim: 112
Bulan: April, Pendapatan: 98, Indeks Musim: 103
Bulan: Mei, Pendapatan: 112, Indeks Musim: 118
Bulan: Juni, Pendapatan: 92, Indeks Musim: 97
Bulan: Juli, Pendapatan: 102, Indeks Musim: 107
Bulan: Agustus, Pendapatan: 96, Indeks Musim: 101
Bulan: September, Pendapatan: 105, Indeks Musim: 111
Bulan: Oktober, Pendapatan: 85, Indeks Musim: 90
Bulan: November, Pendapatan: 102, Indeks Musim: 107
Bulan: Desember, Pendapatan: 76, Indeks Musim: 80

In [ ]:
'''
Nama Anggota Kelompok:
1) Dhandi Adam (4522210147)
2) Antonius Valentino Dharma Kusuma (4522210109)
3) Muhammad Azhar Rabbani (4522210098)
4) Naufal Rizky Syukria (4522210112)
5) Filus Dominggo (4522210141)
'''

import math

# Input dari pengguna
# Trend Eksponensial Data Ganjil Slid 35
tahun_input = list(map(int, input("Masukkan nilai tahun (pisahkan dengan spasi): ").split()))
y_input = list(map(float, input("Masukkan nilai y (pisahkan dengan spasi): ").split()))
x_input = list(map(float, input("Masukkan nilai x (pisahkan dengan spasi): ").split()))
ln_y_input = list(map(float, input("Masukkan nilai ln_y (pisahkan dengan spasi): ").split()))
x_squared_input = list(map(float, input("Masukkan nilai x_squared (pisahkan dengan spasi): ").split()))
x_ln_y_input = list(map(float, input("Masukkan nilai x_ln_y (pisahkan dengan spasi): ").split()))

# Rata-rata
mean_ln_y = sum(ln_y_input)
mean_x_squared = sum(x_squared_input)
mean_x_ln_y = sum(x_ln_y_input)

# Menampilkan hasil rata-rata untuk setiap kolom
print("\nRata-rata Ln Y:", round(mean_ln_y, 2))
print("Rata-rata X^2:", round(mean_x_squared, 2))
print("Rata-rata X Ln Y:", round(mean_x_ln_y, 2))

# Perkiraan jumlah pelanggan pada tahun 2005
X_2005 = int(input("\nMasukkan nilai tahun untuk perkiraan pada tahun 2005: "))
perkiraan_Y_2005 = 6.1 * (1 + 0.105) ** X_2005

# Menampilkan hasil perkiraan jumlah pelanggan pada tahun 2005
print("\nPerkiraan jumlah pelanggan pada tahun", X_2005, ":")
print(f"Y = {round(perkiraan_Y_2005, 2)}")

Masukkan nilai tahun (pisahkan dengan spasi): 1997 1998 1999 2000 2001
Masukkan nilai y (pisahkan dengan spasi): 5.0 5.6 6.1 6.7 7.2
Masukkan nilai x (pisahkan dengan spasi): -2 -1 0 1 2
Masukkan nilai ln_y (pisahkan dengan spasi): 1.6 1.7 1.8 1.9 2.0
Masukkan nilai x_squared (pisahkan dengan spasi): 4.0 1.0 0.0 1.0 4.0
Masukkan nilai x_ln_y (pisahkan dengan spasi): -3.2 -1.7 0.0 1.9 4.0

Rata-rata Ln Y: 9.0
Rata-rata X^2: 10.0
Rata-rata X Ln Y: 1.0

Masukkan nilai tahun untuk perkiraan pada tahun 2005: 6

Perkiraan jumlah pelanggan pada tahun 6 :
Y = 11.1

In [ ]:
'''
Nama Anggota Kelompok:
1) Dhandi Adam (4522210147)
2) Antonius Valentino Dharma Kusuma (4522210109)
3) Muhammad Azhar Rabbani (4522210098)
4) Naufal Rizky Syukria (4522210112)
5) Filus Dominggo (4522210141)
'''
# Metode semi rata-rata untuk peramalan
def peramalan(tahun_dasar):
    if tahun_dasar == 1998:
        X_2002 = 5
        Y_2002 = 4.93 + 0.58 * X_2002
        X_2005 = 8
        Y_2005 = 4.93 + 0.58 * X_2005
    elif tahun_dasar == 2001:
        X_2002 = 2
        Y_2002 = 6.67 + 0.58 * X_2002
        X_2005 = 5
        Y_2005 = 6.67 + 0.58 * X_2005
    else:
        return "Tahun dasar tidak valid"

    return (f"Tahun 2002 diperkirakan mencapai {Y_2002:.2f} juta pelanggan\n"
            f"Tahun 2005 diperkirakan mencapai {Y_2005:.2f} juta pelanggan")

# Menampilkan input dan hasil peramalan
print("Nilai Peramalan Tahun 2002 dan 2005\n")

tahun_dasar = int(input("Masukkan tahun dasar (1998 atau 2001): "))
print("Bila menggunakan tahun dasar", tahun_dasar, ":")
print(peramalan(tahun_dasar))

Nilai Peramalan Tahun 2002 dan 2005

Masukkan tahun dasar (1998 atau 2001): 2001
Bila menggunakan tahun dasar 2001 :
Tahun 2002 diperkirakan mencapai 7.83 juta pelanggan
Tahun 2005 diperkirakan mencapai 9.57 juta pelanggan